.flexboxContact{
    display: flex;
    flex-direction: column;;
}
form{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 5vw;
}

svg{
    background-color: rgb(175, 224, 175);
    width: 100%;
    height:25em;
}
@media screen and (max-width: 480px) {
  svg{
    height: 10em;
  }
}
@media screen and (min-width: 480px) and (max-width: 720px){
  svg{
    height: 20em;
  }
}

input[type=text], input[type=email], input[type=number]{
    width: 30%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid salmon;
    border-radius: 10px;
}

textarea{
    margin: 15px; 
    height: 140px; 
    width: 181px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid salmon;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
  input[type=text], input[type=email], input[type=number] {
    height: 1em;
  }
}

@media screen and (min-width: 480px) {
  input[type=text], input[type=email], input[type=number] {
    height: 2em;
  }
}

.contact{
    fill:black;
    font-size: 10vw;
  }
    
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 8px 5px 5px rgb(87, 124, 77);
}

input[type=submit]:hover {
  background-color: #45a049;
}