$break-small: 400px;
$break-medium: 720px;
$break-big: 920px;
$break-huge: 1320px;

body{
    background-color: rgb(220, 238, 220);
    header{
        nav{
    background-color:#333;
    ul{
         
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        @media screen and (max-width: $break-small){
            float: center;
        }
        @media screen and (min-width: $break-small){
            float: left;
        }
        a{
            font-family: 'Roboto', sans-serif;
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        a:hover {
            background-color: rgb(58, 97, 204);
        }
        
    }
    .active {
        background-color: rgb(50, 163, 71);
    }
}
    }
    section{
        img{
            width: 100%;
            @media screen and (min-width: $break-huge){
                height: 40em;
            }
            @media screen and (min-width: $break-big) and (max-width: $break-huge){
                height: 30em;
            }
            @media screen and (max-width: $break-big) and (min-width: $break-medium){
                height: 25em;
            }
            @media screen and (max-width: $break-small){
                height: 10em;
            }
        }
        
    }
}

footer{
    float: right;
    margin-right: 2px;
    i{
        padding: 10px;
    }
}